<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.devlover.attendance">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MonthlyReport"></activity>
        <activity android:name=".ScheduledActivity" />
        <activity android:name=".SettimeActivity" />
        <activity android:name=".TimetableActivity" />
        <activity android:name=".ScheduleActivity" />
        <activity android:name=".StartActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".LoginActivity" />
        <activity
            android:name=".ClassReport"
            android:theme="@style/AppTheme1" />
        <activity
            android:name=".Attendence_Report"
            android:theme="@style/AppTheme1" />
        <activity
            android:name=".StudentActivity"
            android:theme="@style/AppTheme1" />
        <activity
            android:name=".MainActivity"
            android:theme="@style/AppTheme1" />
    </application>

</manifest>